*, html {
  padding: 0;
  margin: 0;
}

@view-transition {
  navigation: auto;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --one: #DBD1B7;
  --two: #D3CBB5;
  --three: #C5BAA0;
  --dark: #2E2E2E;

  --font-primary: Inter, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  display: flex; align-items: center; justify-content: center;
}

#card-container {
  width: 50rem;
  height: 29rem;
  border-radius: .5rem;
  position: relative;
}

.card {
  width: 50rem;
  height: 29rem;
  border-radius: .5rem;
  position: absolute;
  transition: .5s ease;
  overflow: hidden;
}


.card:nth-child(1) {
  background-color: var(--one);
  z-index: 30;
}

.card:nth-child(2) {
  background-color: var(--two);
  transform: rotate(-5deg);
  z-index: 20;
}

.card:nth-child(3) {
  background-color: var(--three);
  transform: rotate(9deg);
  z-index: 10;
}

#button-container {
  display: flex; flex-direction: column;
  position: absolute; top: 0; left: 0;
  gap: .5rem; padding: 1rem;
}

#button-container button {
  background-color: transparent;
  border: 2px solid var(--one);
  color: var(--one);
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  font-size: 1.25rem; line-height: 0rem;
  transition: .25s ease;
  cursor: pointer;
}

#button-container button:hover {
  background-color: var(--one);
  color: var(--dark);
}